html {
    font-family: 'Rubik', sans-serif;
  }
  
  header {
    margin: 35px;
    text-align: center;
    line-height: 20px;
  }
  
  .container {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  #survey-form {
    font-size: 14pt;
  }
  
  .form-divs, .form-opt {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .form-divs p, label{
    margin-bottom: 15px;
  }
  
  .control-form {
    margin: 0px 15px 0px 15px;
    width: 250px;
    height: 15px;
  }
  
  .form-opt > input {
    margin-top: 20px;
  }
  
  textarea {
    padding: 100px;
  }
  
  .bt {
    margin: 40px;
    padding: 20px 100px 20px 100px;
  }
  
  #submit {
    padding: 10px;
  }