#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  border-right: 2px solid;
  border-color: rgba(0, 0, 0, 0.3);
  min-width: 180px;
  width: 250px;
  height: 100%;
}

#navbar header {
  margin: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

#navbar ul li{
  margin-top: calc(100%/7);
  padding-bottom: 10px;
  list-style-type: none;
  border-bottom: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.nav-link {
  text-decoration: none;
  color: black;
}

#main-doc {
  position: absolute;
  padding: 10px;
  margin-left: 280px;
}

.main-section{
  margin: 5px 0 50px 0;
}

.main-section header {
  padding-bottom: 10px;
  font-size: 16pt;
  font-weight: 600;
}

#Other_functions {
  margin-top: 50px;
}

#Other_functions ul li{
  margin-top: 10px;
  list-style-type: square;
}

code {
  padding-left: 20px;
}

#hworld {
  height: 25px;
  background-color: #ddd;
}

#var {
  height: 40px;
  background-color: #ddd;
}

#mystr {
  height: 80px;
  background-color: #ddd;
}

@media (max-width: 550px) {
  #navbar {
    display: none;
  }
  
  #main-doc {
    margin: 20px;
  }
}
